$primary: #0d6efd;
$secondary: #6c757d;
$white: #ffffff;
$footer: #F8FAFF;
// $black: #000000;
// $black_1: #4b4c61;
// $blue: #2d74ff;
// $blue_1: #679bff;

p{
  color: $secondary;
}
a{
  text-decoration: none;
}